<table mat-table [dataSource]="getData(calls$ | async)" *ngIf="!(isLoading$ | async); else loadSpinner">
    <ng-container matColumnDef="callId">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let data"> {{data.callId}} </td>
    </ng-container>

    <ng-container matColumnDef="​callStart​">
        <th mat-header-cell *matHeaderCellDef> Start time </th>
        <td mat-cell *matCellDef="let data"> {{data.callStart}} </td>
    </ng-container>

    <ng-container matColumnDef="​callDuration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let data"> {{data.callDuration}} </td>
    </ng-container>

    <ng-container matColumnDef="agent">
        <th mat-header-cell *matHeaderCellDef> Agent </th>
        <td mat-cell *matCellDef="let data"> {{data.callWrapups[0].agent.login}} </td>
    </ng-container>

    <ng-container matColumnDef="wrapupName">
        <th mat-header-cell *matHeaderCellDef> Wrapup Name </th>
        <td mat-cell *matCellDef="let data"> {{data.callWrapups[0].wrapupName}} </td>
    </ng-container>
        
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row (click)="onRowClick(row)" *matRowDef="let row; columns: columnsToDisplay;" class="data-row"></tr>
</table>


<ng-template #loadSpinner>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</ng-template>
